{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles/components/button.css' %}?v=1.1" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-dark-bg: #0f0f14;
        --color-card-bg: #1a1a1f;
        --color-purple: #b48cf2;
        --color-green: #10b981;
        --color-yellow: #fbbf24;
        --color-blue: #3b82f6;
        --color-red: #ef4444;
      }
    </style>
  </head>

  <body class="bg-[#0f0f14] text-gray-300 font-sans">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/header.html' %}
    <!-- Main Content -->
    <div class="ml-0 lg:ml-[260px] mt-[60px]">
      {% block content %}

      {% endblock %}
    </div>
    
    <!-- Authentication Scripts -->
    <script src="/static/js/admin-auth.js"></script>
    <script src="/static/js/admin-routes.js"></script>
    <script src="/static/js/image-upload.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
